.endereco{
    padding: 50px 0;

    &__titulo{
        padding: 10px;
        font-size: 32px;
    }
    &__rua{
        padding-bottom: 10px;
        font-size: 20px;
    }

    &__confirma-presenca{

        &__confirmar{
            padding: 10px;
            background-color: green;
            color: #fff;
            border: none;
            cursor: pointer;
            font-size: 20px;
            font-weight: bold;
            border-radius: 5px;
        }
        &__negar{
            padding: 10px;
            background-color: red;
            color: #fff;
            border: none;
            cursor: pointer;
            font-size: 20px;
            font-weight: bold;
            border-radius: 5px;
        }
    }

    @media(max-width:767px){

        &__rua{
            padding-bottom: 20px;
        }

        &__confirma-presenca{

            &__confirmar{
                width: 100%;
                margin-bottom: 10px;
            }
            &__negar{
                width: 100%;
            }
        }
    }
}